<div class="flex flex-row items-center gap-32 justify-center">

    <p class="text-2xl text-letra">Quiero recibir noticias a mi correo</p>

    <form class="flex">

        <input id="noticias" type="text" name="noticias" placeholder="tu@email.com"
            class="px-4 py-2 italic font-medium rounded-l-lg focus:outline-none focus:placeholder-gray-700"/>

        <button class="px-4 rounded-r-lg text-gray-500 hover:text-gray-900 font-bold
        bg-blue-500 p-4 border-blue-500 border">
            SUSCRIBIRME
        </button>
    </form>
</div>
