<div class="h-screen flex justify-center items-center">
    <div class="bg-gray-100 w-1/2 h-1/2 rounded-md mx-auto relative p-2 sm:p-4 overflow-hidden">

        <div class="rounded-full bg-gray-600 text-white absolute top-5 right-5 text-sm px-2 text-center z-10">
            <span>{{ index + 1 }}</span>/<span>{{elementos.length}}</span>
        </div>
    
        <button (click)="prev()"
            class="absolute left-5 top-1/2 -translate-y-1/2 bg-gray-100 rounded-full w-11 h-11 flex justify-center items-center shadow-md z-10">
            <svg class="w-8 h-8 font-bold text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15 19l-7-7 7-7">
                </path>
            </svg>
        </button>
    
        <button (click)="next()"
            class="absolute right-5 top-1/2 -translate-y-1/2 bg-gray-100 rounded-full w-11 h-11 flex justify-center items-center shadow-md z-10">
            <svg class="w-8 h-8 font-bold text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
    
        <div class="h-full flex items-center justify-center">
            <div class="grid grid-cols-2 w-85%">
                <div class="m-auto">
                    <img src="{{ elemento().img }}" alt="image" class="rounded-sm w-11/12">
                </div>
                <div class="m-auto overflow-auto text-xl h-3/5">
                    <p>{{ elemento().texto }}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>