<section class="flex justify-center">
    <div class="group inline-block">
        <button class="outline-none focus:outline-none px-3 py-1 
        rounded-sm flex items-center">
            <div *ngFor="let item of lenguajes">
                <img *ngIf="item.selected" class="pr-1 font-semibold flex-1 w-14" src="{{ item.ruta }}"/>
            </div>
            <span>
                <svg class="fill-current h-4 w-4 transform group-hover:-rotate-180
                transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" stroke="#ffffff" fill="#ffffff"/>
                </svg>
            </span>
        </button>
        <ul class="rounded-sm transform scale-0 group-hover:scale-100 absolute 
        transition duration-150 ease-in-out origin-top">
            <li *ngFor="let item of lenguajes" class="rounded-sm px-3 py-1">
                <a href="{{ item.link }}" *ngIf="!item.selected" (click)="elegirIdioma(lenguajes.indexOf(item))">
                    <img src="{{ item.ruta }}" alt=" {{ item.alt }} " class="w-12">
                </a>
            </li>
        </ul>
    </div>
</section>