<div class="flex justify-center item-end">
   <div class="w-6/12
            p-4 ">
      <button onclick="(Noticias)"
         class="w-12/12 p-2 pl-5 pr-5 bg-letra text-fondo text-lg rounded-lg focus:border-4 border-gray-300">Noticias</button>
   </div>
   <div class="w-center
            p-4 ">
      <button onclick="(testP)"
         class="w-12/12 p-2 pl-5 pr-5  bg-letra text-fondo text-lg rounded-lg focus:border-4 border-gray-300">Test
         Psicológico</button>
   </div>
</div>
<div class="flex justify-center item-center">
   <div class="w-6/12
             p-4 ">
      <button
         class="w-12/12 p-2 pl-5 pr-5 bg-letra ext-fondo text-lg rounded-lg focus:border-4 border-gray-300">Recomendaciones</button>
   </div>
   <div class="w-center
             p-4 ">
      <button class="w-12/12 p-2 pl-5 pr-5 bg-letra ext-fondo text-lg rounded-lg focus:border-4 border-gray-300">Números
         de Emergencia</button>
   </div>
</div>