<div class="flex">
    <div
    class="w-1/2
    p-4"
    ></div>
    <div
    class="w-1/2
    p-4"
    > <h1 class=" text-center items-center">Recomendaciones en casa de emergencia</h1>
    <p>De acuerdo a lo consignado en el Portal: http://www.exteriores.gob.es/Embajadas/MANAGUA/es/VivirEn/Paginas/Recomendaciones-en-caso-de-catastrofes-naturales.aspx, las siguientes son las recomendaciones en caso de una emergencia:</p>
    <p class= justify-center>Medidas preventivas:</p>
    <div><strong></strong> </div>
    <div>Como sabe, se inicia la temporada de mayor riesgo de huracanes en la región. A continuación le dejamos una serie de <a href="/Embajadas/MANAGUA/Documents/Guía%20de%20Emergencia%20para%20ciudadanos%20españoles.pdf">recomendaciones</a> a tener especialmente en cuenta en esta temporada.</div>
    <strong></strong><div><br /><strong>Medidas preventivas: </strong></div>
    <strong></strong><div><br />•Revisar el equipo de emergencia y tenerlo preparado. </div>
    <div><br />•Fijar y amarrar bien lo que el viento pueda lanzar o arrastrar el agua. </div>
    <div><div> </div>
    <div style="text-align:justify">•Guardar objetos sueltos (macetas, botes de basura, herramientas, etc.) que pueda lanzar el viento. </div></div>
    <div><div> </div>
    <div style="text-align:justify">•Limpiar la azotea, desagües, canales y coladeras; limpiar también de hojarasca o ramas en la calle, despejando los tragantes de aguas. </div></div>
    <div><br />•Si se tiene vehículo, asegurarse de que funciona correctamente. </div>
    <div><div> </div>
    <div style="text-align:justify">•Cerrar las llaves de tuberías de agua hacia la casa para evitar el acceso de aguas negras. Sellar la tapa de su pozo o aljibe para tener agua de reserva no contaminada. </div></div>
    <div><br />•Si su casa es frágil o está en una zona de riesgo, tener previsto un refugio o un albergue donde poder trasladarse. </div>
    <div><div> </div>
    <div style="text-align:justify">•Seguir las recomendaciones de las autoridades si indican la sobre evacuaciones en el área y/o la casa donde vive.</div></div>
    <div> </div>
    <div><strong>En caso de evacuación:</strong></div>
    <strong></strong><div><br />•Asegurar su casa y llevar con usted los artículos indispensables. </div>
    <div><br />•Conservar la calma y tranquilizar a sus familiares.</div>
    <div> <br />•Escuchar con su radio portátil, la información o instrucciones relativas al suceso.</div>
    <div> <br />•Desconectar todos los aparatos y el interruptor de energía eléctrica.</div>
    <div> <br />•Cerrar las llaves de gas y agua. </div>
    <div><br />•Ayudar a alertar a sus familiares y conocidos. <br /></div>
    <div> </div>
    <div><strong>En caso de inundación</strong>:  </div>
    <div><div> </div>
    <div style="text-align:justify">•Colocar los objetos de valor y documentación necesaria, en las partes altas de la vivienda, y si es posible, en envases herméticos. </div></div>
    <div><br />•Tener precaución en lugares de bajada de corrientes de agua. </div>
    <div><div> </div>
    <div style="text-align:justify">•No conducir por carreteras inundadas de corriente y no pasar por aguas que cubran por encima de la rodilla (riesgo de ser arrastrado). </div></div>
    <div><div> </div>
    <div style="text-align:justify">•Si el vehículo queda atascado, abandonarlo y trasladarse a un lugar alto.</div>
    <div style="text-align:justify"> </div>
    <div><strong>Si su casa es segura y decide quedarse en ella</strong>:</div></div>
    <div><div> </div>
    <div style="text-align:justify">•Cerrar puertas y ventanas, protegiendo interiormente los cristales con cinta adhesiva en forma de X; no abrir las cortinas pues le protegerán de una eventual rotura de cristales. </div></div>
    <div><div> </div>
    <div style="text-align:justify">•Tener a la mano artículos de emergencia. Mantener su radio de pilas encendido para recibir información e instrucciones de fuentes oficiales. </div></div>
    <div><br />•Si el viento abre una puerta o ventana no avanzar hacia ella de manera frontal. </div>
    <div><br />•Vigilar constantemente el nivel del agua cercano a su casa. </div>
    <div><br />•Mantenerse alejado de puertas y ventanas. </div>
    <div><br />•NO salir de su casa hasta que las autoridades lo indiquen.</div>
    <div><br /><strong>Después del paso del suceso:</strong></div>
    <strong></strong><div><br />•Seguir las instrucciones transmitidas por las autoridades a través de los medios de comunicación. </div>
    <div><br />•Si hay heridos, llevarlos inmediatamente a los servicios de emergencia. </div>
    <div><br />•Cuidar de que sus alimentos estén limpios. No comer nada crudo ni de procedencia dudosa. </div>
    <div><br />•Beber el agua potable que se almacenó o hervir la que va a tomar. </div>
    <div><br />•Revisar cuidadosamente la casa para cerciorarse de que no hay peligro. </div>
    <div><br />•Si su casa no sufrió daños, permanecer en ella. </div>
    <div><div> </div>
    <div style="text-align:justify">•Mantener desconectados el gas, la luz eléctrica y el agua potable hasta asegurarse de que no haya fugas ni peligro de corto circuito. Utilizar linternas de pilas para iluminarse. </div></div>
    <div><br />•Cerciorarse de que sus aparatos eléctricos estén secos antes de conectarlos. </div>
    <div><br />•Desalojar el agua estancada para evitar plagas de mosquitos. </div>
    <div><div> </div>
    <div style="text-align:justify">•Si su vivienda está en la zona afectada, no se debe regresar a ella hasta que las autoridades lo indiquen. </div></div>
    <div><div> </div>
    <div style="text-align:justify"><strong>Si tiene que desalojar la vivienda</strong>:</div></div>
    <div><br />•Portar el equipo de emergencias. </div>
    <div><br />•Tener precaución en lugares de bajada de corrientes de agua. </div>
    <div><div> </div>
    <div style="text-align:justify">•No conducir por carreteras inundadas de corriente y no pasar por aguas que cubran por encima de la rodilla (riesgo de ser arrastrado). </div></div>
    <div><br />•Si el vehículo queda atascado, abandonarlo y trasladarse a un lugar alto.</div>
    <div><span class="ms-rteFontSize-2" style="text-decoration:underline"><strong></strong></span> </div>
    <div> </div>
    <div><span class="ms-rteFontSize-2" style="text-decoration:underline"><strong>Recomendaciones ante terremotos</strong></span> </div>
    <div><br /><strong>Medidas preventivas: </strong></div>
    <strong></strong><div><br /><strong>En relación a la estructura del edificio:</strong></div>
    <strong></strong><div><div> </div>
    <div style="text-align:justify">- Revisar, controlar y reforzar el estado de aquellas partes de las edificaciones que primero se pueden desprender, como chimeneas, aleros o balcones. </div></div>
    <div><div> </div>
    <div style="text-align:justify">- Revisar, asimismo, aquellas instalaciones que pueden romperse: tendido eléctrico, conducciones de agua, gas y saneamientos.</div></div>
    <div><br /><strong>En relación al interior de la vivienda:</strong> </div>
    <div><div> </div>
    <div style="text-align:justify">- Extremar las precauciones en cuanto a la colocación y sujeción de algunos objetos que pueden caerse, en especial los pesados como armarios y estanterías, así como los que pueden romperse como lámparas, espejos, botellas, etc. </div></div>
    <div><div> </div>
    <div style="text-align:justify">- Tener un especial cuidado con la ubicación de los productos tóxicos o inflamables, a fin de evitar que se produzcan fugas o derrames.</div>
    <div> </div></div>
    <div><strong>Medidas de autoprotección durante un terremoto</strong>:</div>
    <div><br /><strong>•Si está en el interior de un edificio:</strong> </div>
    <div><div> </div>
    <div style="text-align:justify">- Buscar refugio debajo de los dinteles de las puertas o de algún mueble sólido, como mesas o escritorios, o bien, junto a un pilar o pared maestra. </div></div>
    <div><div> </div>
    <div style="text-align:justify">- Mantenerse alejado de ventanas, cristaleras, vitrinas, tabiques y objetos que pueden caerse y llegar a golpearle. </div></div>
    <div><div> </div>
    <div style="text-align:justify">- No utilizar el ascensor, ya que podría desplomarse o quedar atrapado en su interior. </div></div>
    <div><div> </div>
    <div style="text-align:justify">- Utilizar linternas para el alumbrado y evitar el uso de velas, cerillas, o cualquier tipo de llama durante o inmediatamente después del temblor, que puedan provocar una explosión o incendio.</div></div>
    <div><br /><strong>•Si está en el exterior de un edificio:</strong> </div>
    <div><div> </div>
    <div style="text-align:justify">- Ir hacia un área abierta, alejándose de los edificios dañados. Después de un gran terremoto, siguen otros más pequeños (réplicas) que pueden causar destrozos adicionales. </div></div>
    <div><div> </div>
    <div style="text-align:justify">- Procurar no acercarse ni penetrar en edificios dañados, por el peligro de caída de escombros, revestimientos, cristales, etc. </div></div>
    <div><div> </div>
    <div style="text-align:justify">- Si se está circulando en coche, es aconsejable permanecer dentro del vehículo, alejándose de puentes, postes eléctricos, edificios degradados o zonas de desprendimientos.</div></div>
    <p> </p>
    <div><span style="text-decoration:underline"><strong>Recomendaciones ante erupciones volcánicas </strong></span></div>
    <div> </div>
    <div style="text-align:justify">•Manténgase atento a las instrucciones que dicten las autoridades a través de la radio y la televisión. </div>
    <p> </p>
    <div style="text-align:justify">•Aunque la erupción se desarrolle tranquilamente, no se acerque al volcán. El viento puede arrastrar escorias calientes y existe la posibilidad de que se arrojen súbitamente productos sólidos. </div>
    <p> </p>
    <p>•Evite las hondonadas, donde pueden acumularse gases nocivos, incluso después de finalizada la erupción. </p>
    <p><br />•Si le sorprende una nube de gases, protéjase con una tela humedecida en agua.</p>
    <p> <br />•Respete las normas de acceso a los sectores declarados peligrosos. </p>
    <p><br />•Utilice las vías de comunicación fijadas por las autoridades. </p>
    <p><br />•No preste atención a rumores alarmistas ni los difunda. </p>
    <p> </p>
    <div style="text-align:justify">•Si las autoridades deciden establecer la evacuación, prepare rápidamente el equipaje familiar (ropa de abrigo, documentación y medicamentos personales, alimentos no perecederos, una radio de transistores y una linterna), limitando el equipaje a lo que pueda transportar a mano cada persona con facilidad de movimientos. Esté atento a las instrucciones, prestando especial atención al lugar de concentración y hora.</div>
    <p> </p>
</div>
</div>
   